body{
    background-color: rgb(15, 15, 15);
}

.ifDec{
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    text-shadow: none;
    color: black;
}

article{
    padding-bottom: 30px;
}

.codeTable{
    display: table;
}

.codeRow{
    display: table-row;
}

.codeCell{
    display: table-cell;
    padding-left: 32px;
    padding-bottom: 4ex;
}

article h1{
    font-size: 3em;
    text-align: center;
    color:beige;
    text-shadow: 0 0 20px rgb(11, 11, 11)
}

.bold{
    font-weight: bold;
    color: red;
    text-transform: uppercase;
}

article p{
    font-size: 20px;
    text-align: center;
    color:beige;
    text-shadow: 0 0 20px rgb(11, 11, 11)
}

p q{
    font-style: italic  ;
}

.varDec{
    padding-top: 3ex;
}

article h2{
    text-align: center;
}

.baseIfDesc{
    text-shadow: none;
    color: black;
}

.outerCodeCell{
    background-color: lightgrey;
    padding: 15px;
    border-radius: 25px;
    text-shadow: none;
    color: black;
}

.innerCodeCell{
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    margin-top: 10px;
    text-shadow: none;
    color: black;
}

.codeComment{
    color: green;
}

.ifIndent{
    padding-left: 40px;
}

.indentError{
    background-color: rgb(243, 169, 169);
    padding: 20px;
    border-radius: 25px;
    text-shadow: none;
    color: black;
}

.indentImportance{
    text-shadow: none;
    color: black;
}

.diffIfs{
    vertical-align: middle;
    text-align: center;
    padding: 30px;
    height: 200px;
}

.diffIfs a{
    color: beige;
    text-shadow: 0 0 20px rgb(11, 11, 11)

}

/* ask how to span the cell over all the page */
/* .tryItYourself{
    width: 100%;
} */

textarea{
    border-radius: 25px;
    border: none;
}

.TIYS{
    margin-bottom: 3em;
}

.propDescriptions{
    width: 70%;
}

.explanation{
    line-height: 1.5;
}

.spacingCell{
    color: rgb(15, 15, 15);
}

section{
    color:beige;
    text-shadow: 0 0 20px rgb(11, 11, 11)
}

.quiz h2{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5em;
    word-spacing: 3px;
    
}

h3{
    font-size: 1.5em;
}

.testNew{
    font-size: larger;
    text-align: center;
}